@model AesDecryptor.Models.EncryptViewModel
@{
    ViewData["Title"] = "Index";
}

<h4>Encrypt</h4>

<form asp-action="Encrypt" asp-controller="" method="post" class="col-6">
    <div class="form-group">
        <label for="textToEncrypt">Text to encrypt</label>
        @Html.TextAreaFor(m => m.TextToEncrypt, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="textToEncrypt">Key</label>
        @Html.TextAreaFor(m => m.EncryptKey, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-info">Encrypt</button>
</form>

@if (Model?.EncryptResult != null)
{
    <div class="text-info col-6">
        <span class="font-weight-bold">Result: </span>@Model?.EncryptResult
    </div>
}
@if (Model?.EncryptError != null)
{
    <div class="text-danger col-6">
        <span class="font-weight-bold">Encryption was not successfull! Error: </span>@Model?.EncryptError
    </div>
}
<div asp-validation-summary="All" class="text-danger"></div>


